# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [6]:
ice_cream = ("Chocalate", "Vanilla", "Strawberry", "Rum Raisin")
pd.Series(ice_cream)

0     Chocalate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [8]:
lottery_numbers = (4,8,12,15,16,23,42)
pd.Series(lottery_numbers)

0     4
1     8
2    12
3    15
4    16
5    23
6    42
dtype: int64

In [9]:
registrations = [True, False, True, False]
pd.Series(registrations)

0     True
1    False
2     True
3    False
dtype: bool

## Create a Series Object from a Dictionary

In [10]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [16]:
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}
series_dict = pd.Series(recipe)

In [17]:
series_dict

Flour     True
Sugar     True
Salt     False
dtype: bool

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [20]:
prices = pd.Series([2.99,4.45,1.36])

In [21]:
prices.sum()

8.8

In [22]:
prices.product()

18.095480000000006

In [23]:
prices.mean()

2.9333333333333336

In [24]:
prices.std()

1.5457791994115246

In [ ]:
b

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [29]:
adjectives = pd.Series(["Smart","Charming","Brilliant","Humble","Smart"])
adjectives

0        Smart
1     Charming
2    Brilliant
3       Humble
4        Smart
dtype: object

In [30]:
adjectives.size

5

In [31]:
adjectives.is_unique

False

In [32]:
adjectives.values

array(['Smart', 'Charming', 'Brilliant', 'Humble', 'Smart'], dtype=object)

In [33]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
type(adjectives.values)

numpy.ndarray

In [35]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
v

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [63]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [62]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [65]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [67]:
pokemon.head()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [69]:
google.tail()
google.tail(7)

4786    134.727005
4787    130.139999
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [70]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [71]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [87]:
len(pokemon)
type(pokemon)
list(pokemon)
type(sorted(pokemon))
sorted(google)
dict(pokemon)
max(google)
min(google)
max(pokemon)
min(pokemon)

'Abomasnow'

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [88]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [93]:
"Bulbasaur"in pokemon.values 
"Test" in pokemon.values

False

In [94]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")

In [95]:
apokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")

In [96]:
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [97]:
apokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [99]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [104]:
google.sort_values()
google.sort_values(ascending=True)

google.sort_values(ascending=False).head()

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

In [110]:
pokemon.sort_values()
pokemon.sort_values(ascending=True)
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, dtype: object

In [111]:
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]

In [114]:
doritos = pd.Series(flavors)
doritos

0    Spicy Sweet Chili
1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
dtype: object

In [118]:
doritos.sort_values(ascending=False)

0    Spicy Sweet Chili
3          Salsa Verde
2         Nacho Cheese
1           Cool Ranch
dtype: object

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [122]:
pokemon= pd.read_csv("pokemon.csv",index_col="Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [123]:
pokemon.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [124]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [127]:
pokemon.iloc[100]

'Electrode'

In [133]:
# pokemon.iloc[[100,200,300]]
pokemon.iloc[27:36]
pokemon.iloc[:37]
pokemon.iloc[700:]

700         Hawlucha
701          Dedenne
702          Carbink
703            Goomy
704          Sliggoo
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 310, dtype: object

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [134]:
pokemon= pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [135]:
pokemon.loc["Bulbasaur"]

'Grass, Poison'

In [136]:
pokemon.iloc[0]

'Grass, Poison'

In [138]:
pokemon.loc["Mewtwo"]

'Psychic'

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [139]:
pokemon= pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [144]:
pokemon.get("Moltres")
pokemon.loc["Moltres"]
pokemon.get("digimon","NonExistent")


pokemon.get(["Moltres","Digimon"],"ONe of the values in the list was not found")

'ONe of the values in the list was not found'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [149]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [150]:
pokemon.iloc[0] = "Borisaur"

In [151]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [152]:
pokemon.iloc[[1,2,4]]=["Firemon","Flamemon","Blazemon"]

In [154]:
pokemon.head()

0      Borisaur
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [157]:
pokemon= pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [158]:
pokemon.loc["Bulbasaur"] = "Awesome"

In [159]:
pokemon.head()

Name
Bulbasaur           Awesome
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [163]:
pokemon_df = pd.read_csv("pokemon.csv",usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [164]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [166]:
pokemon_series.iloc[0] = "whatever"

In [167]:
pokemon_series.head()

0      whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [168]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [170]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [174]:
google.count()
google.size

4793

In [175]:
google.sum()

192733.129338

In [177]:
google.mean()

40.211376870018775

In [178]:
google.std()

37.2747529438681

In [179]:
google.max()

151.863495

In [180]:
google.min()

2.47049

In [181]:
google.median()

26.327717

In [182]:
google.mode()

0    14.719826
1    49.000000
Name: Price, dtype: float64

In [183]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [184]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [186]:
google.add(10)
google + 10

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

In [195]:
test = pd.Series(["hey"],["abc"])

In [196]:
test

abc    hey
dtype: object

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [188]:
pokemon= pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [192]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(normalize=True) *100

Type
Water               7.326733
Normal              7.326733
Grass               4.554455
Psychic             3.861386
Fire                3.564356
                      ...
Fighting, Ice       0.099010
Fire, Dragon        0.099010
Normal, Dragon      0.099010
Psychic, Steel      0.099010
Fighting, Dragon    0.099010
Name: proportion, Length: 200, dtype: float64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [197]:
pokemon= pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [202]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [206]:
def count_of_a(pokemon):
    return pokemon.count("a")

pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [210]:
pokemon= pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [221]:
attack_power=pd.Series({
    "grass": 5,
    "posion": 7,
    "Fire": 10
})
attack_power

grass      5
posion     7
Fire      10
dtype: int64

In [222]:
pokemon.map(attack_power)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      10.0
Charmeleon      10.0
                ...
Iron Valiant     NaN
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves      NaN
Name: Type, Length: 1010, dtype: float64